/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#chart1 div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

#chart2 rect {
    fill: steelblue;
}

#chart2 text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

#chart3 rect {
    fill: steelblue;
}

#chart3 text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}
